{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<ul class="list-inline">
  <li><h2>{% trans "Sign Up" %}</h2></li>
  <li>{% blocktrans %}(or <a href="{{ login_url }}">Sign In</a>){% endblocktrans %}</li>
</ul>
<div class="divider"></div>

<form class="signup form-horizontal" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-default">{% trans "Sign Up" %} &raquo;</button>
</form>
{% endblock %}


