{% extends "filebaby/base.html" %}


{% block page_title %}Add file (boring version){% endblock %}


{% block content %}


{{ form.non_field_errors }}

<form action="{% url 'filebaby-add' %}" method="post" enctype="multipart/form-data">
  <fieldset>
    <legend>Subir fichero</legend>

    <div class="upFile">
      {{ form.f.errors }}
      {{ form.f }}
    </div>

  </fieldset>
  <input type="submit" id="submit" class="btn btn-success" value="Subir">
  {% csrf_token %}
</form>


{% endblock %}
