<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{% block page_title %}{% endblock %} - Filebaby</title>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/foundation/4.3.1/css/foundation.min.css" />
  <script src="//cdn.jsdelivr.net/foundation/4.3.1/js/vendor/custom.modernizr.js"></script>
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% block body %}
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name"><h1><a href="{% url 'home' %}" title="Home">ASDF-TEAM</a></h1>
      </li>
      <li class="toggle-topbar"><a href="#"></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li><a href="{% url 'filebaby-add' %}" title="Add a file">Subir archivo</a></li>
        <li class="has-dropdown">
          <a href="#">About</a>
          <ul class="dropdown">
            <li><a href="http://kelvinwong.ca/coders">Visit Kelvin on Code</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>

  {% if messages %}
  <div class="row">
    <div class="large-12 columns">
    {% for message in messages %}
      {% if message.tags %}
      <div data-alert class="alert-box {{ message.tags }}">
        {{ message }}
        <a href="#" class="close">&times;</a>
      </div>
      {% else %}
      <div data-alert class="alert-box">
        {{ message }}
        <a href="#" class="close">&times;</a>
      </div>
      {% endif %}

    {% endfor %}
    </div>
  </div>
  {% endif %}

    
  <div class="row">
    <div class="large-12 columns">
    {% block content %}{% endblock content %}
    </div>
  </div>
<!--
  <div class="row">
    <div class="large-12 columns">
      <h4>Context settings</h4>
      <div class="panel">
        <table>
          <thead>
            <tr>
              <th>Setting</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><abbr title="The root relative web address prepended to static assets">STATIC_URL</abbr></td>
              <td>{{ STATIC_URL }}</td>
            </tr>
            <tr>
              <td><abbr title="The absolute path on the local filesystem that holds assets collected by Django">STATIC_ROOT</abbr></td>
              <td>{{ STATIC_ROOT }}</td>
            </tr>
            <tr>
              <td><abbr title="The root relative web address prepended to user submitted files and other media assets">MEDIA_URL</abbr></td>
              <td>{{ MEDIA_URL }}</td>
            </tr>
            <tr>
              <td><abbr title="The absolute path on the local filesystem that holds user submitted files and other media assets">MEDIA_ROOT</abbr></td>
              <td>{{ MEDIA_ROOT }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/foundation/4.3.1/js/foundation.min.js"></script>
  <script>$(document).foundation();</script>

  {% block javascript %}{% endblock javascript %}

  {% endblock body %}
    </body>
</html>
