{% extends "filebaby/base.html" %}
{% load static %}


{% block page_title %}Home{% endblock %}


{% block content %}


<h1>Ficheros subidos</h1>

<script>
  function sendtotrad(id) {
	  $.ajax({
		  type: "GET",
		  url: "/files/send/",
		  data: {
			  md5:$('#file' + id).val()
			  },
		  success: function(data) {
			  alert("El fichero se ha enviado correctamente");
			  },
		  error: function(xhr, textStatus, errorThrown) {
			  alert("Se ha producido un error y no se ha podido enviar el fichero");
			  }
    });
  }
  
  function deletefile(id) {
	  $.ajax({
		  type: "GET",
		  url: "/files/delete/",
		  data: {
			  md5:$('#file' + id).val(),
			  id:id
			  },
		  success: function(data) {
			  var elem = document.getElementById('column' + id);
			  elem.parentNode.removeChild(elem);
			  },
		  error: function(xhr, textStatus, errorThrown) {
			  alert("Se ha producido un error y no se ha podido eliminar el fichero");
			  }
    });
  }
</script>


{% if files %}

<div class="panel">
  <table class = "table table-striped">
    <thead>
      <tr>
        <th width="7%">Número</th>
        <th>Nombre</th>
        <th width="6%">Eliminar</th>
        <th width="6%">Enviar</th>
      </tr>
    </thead>
    <tbody>
      {% for file in files %}
      <input type="text" id="file{{ file.id }}" value="{{ file.md5 }}" hidden></input>
      <tr id="column{{ file.id }}">
        <td>{{ file.id }}</td>
        <td><a href="{% get_media_prefix %}download/?file={{ file.md5 }}">{{ file.f }}</a></td>
        <td><button type="button" class="btn btn-link" onclick="deletefile('{{ file.id }}')"><span class="glyphicon glyphicon-remove"></span></button></td>
        <td><button type="button" class="btn btn-danger" onclick="sendtotrad('{{ file.id }}')">Enviar</button></td>
      </tr>
      {% endfor %}
    </tbody>    
  </table>
  <div class="push"></div>
  <button type="button" class="btn btn-success" onclick="window.location.href='/files/add'">Subir otro fichero</button>
</div>


{% if page_obj.has_other_pages %}
<div class="pagination-centered">
  <ul class="pagination">
    {% if paginator.has_previous %}
    <li class="arrow"><a href="?page={{ paginator.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="arrow unavailable"><a href="">&laquo;</a></li>
    {% endif %}
    {% for pg in paginator.page_range %}
      {% if page_obj.number == pg %}
        <li class="current"><a href="?page={{ pg }}">{{ pg }}</a></li>
      {% else %}
        <li><a href="?page={{ pg }}">{{ pg }}</a></li>
      {% endif %}
    {% endfor %}
    {% if paginator.has_next %}
    <li class="arrow"><a href="?page={{ paginator.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="arrow unavailable"><a href="">&raquo;</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}


{% else %}


  <!--                        -->
  <!-- Your database is empty -->
  <!--                        -->

<div class="panel">
  <p>No files found &nbsp;&nbsp; :(</p>
  <p>(hint: Añadir un <a href="{% url 'filebaby-add' %}" title="Subir fichero">file</a>)</p>
</div>

{% endif %}


{% endblock %}
