<div class="push"></div>
<footer class="panel-footer" role="navigation">
  <div class="container">
    <div class="col-sm-3">
      <table class="table table-condensed">
        <thead>
          <td><h3>Offices</h3></td>
        </thead>
        <tr>
          <td><strong>RM-Soft Translation &amp; Publishing</strong></td>
        </tr>
        <tr>
          <td>Plaza de los Campos 4, 2-D</td>
        </tr>
        <tr>
         <td>Granada 18009 - SPAIN</td>
       </tr>
     </table>
   </div>
   <div class="col-sm-3">
     <table class="table table-condensed">
       <thead>
         <td><h3>Join Us</h3></td>
       </thead>
       <tr>
         <td>freelancers.hr@rm-soft.com</td>
       </tr>
       <tr>
         <td>agencies.hr@rm-soft.com</td>
       </tr>
       <tr>
         <td>openings.hr@rm-soft.com</td>
       </tr>
     </table>
   </div>
   <div class="col-sm-3">
     <table class="table table-condensed">
       <thead>
         <td><h3>Say Hello!</h3></td>
       </thead>
       <tr>
         <td>+34 958 215 032</td>
       </tr>
       <tr>
         <td>+34 958 215 284</td>
       </tr>
       <tr>
         <td>info@rm-soft.com</td>
       </tr>
     </table>
   </div>
   <div class="col-sm-3">
     <table class="table table-condensed">
       <thead>
         <td><h3>Stop By</h3></td>
       </thead>
       <tr>
         <td>Monday - Friday 8:30 - 17:30</td>
       </tr>
       <tr>
         <td>Saturday: Closed</td>
       </tr>
       <tr>
         <td>Sunday: Closed</td>
       </tr>
     </table>
   </div>
   <div>
   <p>Licencia y esas cosas</p>
   </div>
  </div><!-- ./container -->
</footer>
