<!DOCTYPE html>
<html lang="es">
  <head>
    <title>RM-SOFT</title>
	 <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
	 <link rel="Shortcut Icon" type="image/x-icon" href="/static/images/html5.png"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  {% include "menu.html" %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>

	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
		 <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		 <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		 <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
		 <div class="item active">
		   <img class="container" src="/static/images/fix-1.jpg" alt="Foto1">
		   <div class="carousel-caption">
		   </div>
		 </div>

		 <div class="item 1">
		   <img class="container" src="/static/images/fix-2.jpg" alt="Foto2">
		   <div class="carousel-caption">
		   </div>
		 </div>

		 <div class="item 2">
		   <img class="container" src="/static/images/fix-3.jpg" alt="Foto3">
		   <div class="carousel-caption">
		   </div>
		 </div>

	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		 <span class="glyphicon glyphicon-chevron-left"></span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		 <span class="glyphicon glyphicon-chevron-right"></span>
	  </a>
	</div>
	<div class="push"></div>
	<div class="row">
	  <div class="col-xs-6 col-sm-4">
		<div class="text-center">
			<img src="/static/images/team-1.jpg" alt="Foto equipo 1" class="img-circle">
				<h1>Rocio Aurora López</h1>
				<h4>Owner/President</h4>
				<p>Developers might focus on the interaction between server-side frameworks, the web server, and a database system.</p>
			</div>
		</div>
	  	  <div class="col-xs-6 col-sm-4">
		<div class="text-center">
			<img src="/static/images/team-2.jpg" alt="Foto equipo 2" class="img-circle">
				<h1>Miguel Rúa-Figueroa</h1>
				<h4>Owner/Managing Director</h4>
				<p>Developers might focus on the interaction between server-side frameworks, the web server, and a database system.</p>
			</div>
		</div>
	  <!-- Optional: clear the XS cols if their content doesn't match in height -->
	  <div class="clearfix visible-xs"></div>
	  	  <div class="col-xs-6 col-sm-4">
			<div class="text-center">
				<img src="/static/images/team-3.jpg" alt="Foto equipo 3" class="img-circle">
					<h1>Patricia Romo</h1>
					<h4>Vendor & Resource Manager</h4>
					<p>Developers might focus on the interaction between server-side frameworks, the web server, and a database system.</p>
				</div>
			</div>
	</div>
  {% include "footer.html" %}
  </body>
</html>
