<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/static/js/dropdown.min.js"></script>
<script>
  function sendtotrad(id) {
	  $.ajax({
		  type: "GET",
		  url: "/files/send/",
		  data: {
			  md5:$('#file' + id).val()
			  },
		  success: function(data) {
			  alert("El fichero se ha enviado correctamente");
			  },
		  error: function(xhr, textStatus, errorThrown) {
			  alert("Se ha producido un error y no se ha podido enviar el fichero");
			  }
    });
  }
  
  function deletefile(id) {
	  $.ajax({
		  type: "GET",
		  url: "/files/delete/",
		  data: {
			  md5:$('#file' + id).val(),
			  id:id
			  },
		  success: function(data) {
			  var elem = document.getElementById('column' + id);
			  elem.parentNode.removeChild(elem);
			  },
		  error: function(xhr, textStatus, errorThrown) {
			  alert("Se ha producido un error y no se ha podido eliminar el fichero");
			  }
    });
  }
  
  function extractfile(id) {
	  $.ajax({
		  type: "GET",
		  url: "/files/extract/",
		  data: {
			  md5:$('#file' + id).val(),
			  id:id
			  },
		  success: function(data) {
			  var elem = document.getElementById('column' + id);
			  elem.parentNode.removeChild(elem);
			  },
		  error: function(xhr, textStatus, errorThrown) {
			  alert("Se ha producido un error y no se ha podido descomprimir/eliminar el fichero");
			  }
    });
  }
  
</script>
<div class="panel" id="filesPanel">
  <table class = "table table-striped">
    <thead>
      <tr>
        <th width="7%">Número</th>
        <th>Nombre</th>
        <th width="6%">Eliminar</th>
        <th width="12%" align="center">Estado</th>
      </tr>
    </thead>
    <tbody>
      {% for file in files %}
      <input type="text" id="file{{ file.id }}" value="{{ file.md5 }}" hidden></input>
      <tr id="column{{ file.id }}">
        <td>{{ file.id }}</td>
        <td><a href="{% get_media_prefix %}download/?file={{ file.md5 }}">{{ file.f }}</a></td>
        <td><button type="button" class="btn btn-link" onclick="deletefile('{{ file.id }}')"><span class="glyphicon glyphicon-remove"></span></button></td>
		<td>
			<div class="btn-group">
				{% if file.is_sent %}
					<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">Enviado <span class="caret"></span></button>
				{% else %}
					<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Subido  <span class="caret"></span></button>
				{% endif %}
				<ul class="dropdown-menu" role="menu">
					<li><a href="#" onclick="sendtotrad('{{ file.id }}')">Enviar</a></li>
					<li><a href="{% get_media_prefix %}download/?file={{ file.md5 }}" download="{{ file.f }}">Descargar</a></li>
					{% if ".zip" in file.f.name %}
						<li><a href="#" onclick="extractfile('{{ file.id }}')">Descomprimir</a></li>
					{% endif %}
				</ul>
			</div>
		</td>
      </tr>
      {% endfor %}
    </tbody>    
  </table>
  <div class="push"></div>
  <button type="button" class="btn btn-success" onclick="window.location.href='/files/add'">Subir otro fichero</button>
</div>
